@import url('./assets/fonts/sans.css');

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'OPPO Sans';
  user-select: none;
}
